* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
    font-family: sans-serif;
    color: #222;
}

.container {
    width: 100%;
    background: #ffffff;
    padding: 30px;
    margin: 0;
}

section {
    text-align: center;
}

h1 {
    color: rgb(95, 95, 95);
    text-align: center;
    margin-bottom: 40px;
}

input, select {
    background: none;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: .9rem;
    outline: none;
}

input[type="range"] {
    padding: 10px 0;
}

input:active, input:focus {
    background:  orangered;
}

input[type="date"] {
    padding: 8px 20px;
}

img:hover {
    cursor: pointer;
}

.image-block {
    width: 400px;
    display: inline-flex;
    flex-direction: column;
}