* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
    font-family: sans-serif;
    color: #222;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    background: #f1f1f1;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

button {
    background: none;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: .9rem;
}

button:hover {
    background: orangered;
}

button:active {
    background: #000;
    color: #fff;
}

.out-block {
    font-size: 1rem;
    font-family: monospace;
}

.slider {
    border: 2px solid black;
    width: 100%;
    max-width: 80%;
    height: 500px;
    margin: 20px auto;
    overflow: hidden;
}

.slider-line {
    width: 1024px;
    height: 100vh;
    display: flex;
    background: orange;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

img {
    height: 70%;
}